USE [master]
GO
/****** Object:  Database [WebShopDbContext]    Script Date: 12/2/2022 12:58:01 PM ******/
CREATE DATABASE [WebShopDbContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebShopDbContext', FILENAME = N'/var/opt/mssql/data/WebShopDbContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebShopDbContext_log', FILENAME = N'/var/opt/mssql/data/WebShopDbContext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebShopDbContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebShopDbContext]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/2/2022 12:58:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CatID] [int] IDENTITY(1,1) NOT NULL,
	[CatName] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[ParentID] [int] NULL,
	[Levels] [int] NULL,
	[Ordering] [int] NULL,
	[Published] [bit] NOT NULL,
	[Thumb] [nvarchar](250) NULL,
	[Title] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[MetaDesc] [nvarchar](250) NULL,
	[MetaKey] [nvarchar](250) NULL,
	[Cover] [nvarchar](255) NULL,
	[SchemaMarkup] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[SContents] [nvarchar](255) NULL,
	[Contents] [nvarchar](max) NULL,
	[Thumb] [nvarchar](255) NULL,
	[Published] [bit] NOT NULL,
	[Alias] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[UserId] [nvarchar](450) NULL,
	[Tags] [nvarchar](max) NULL,
	[isHot] [bit] NOT NULL,
	[isNewFeed] [bit] NOT NULL,
	[MetaKey] [nvarchar](255) NULL,
	[MetaDesc] [nvarchar](255) NULL,
	[Views] [int] NULL,
 CONSTRAINT [PK__News__AA1260385DCE55A4] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[OrderNumber] [int] NULL,
	[Amount] [int] NULL,
	[Discount] [decimal](18, 0) NULL,
	[TotalMoney] [decimal](18, 0) NOT NULL,
	[CreateDate] [datetime] NULL,
	[Price] [decimal](18, 0) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[OrderDate] [datetime] NULL,
	[ShipDate] [datetime] NULL,
	[TransactStatusID] [int] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[Paid] [bit] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[TotalMoney] [decimal](18, 0) NOT NULL,
	[PaymentID] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[PageID] [int] IDENTITY(1,1) NOT NULL,
	[PageName] [nvarchar](250) NULL,
	[Contents] [nvarchar](max) NULL,
	[Thumb] [nvarchar](250) NULL,
	[Published] [bit] NOT NULL,
	[Title] [nvarchar](250) NULL,
	[MetaDesc] [nvarchar](250) NULL,
	[MetaKey] [nvarchar](250) NULL,
	[Alias] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Pages] PRIMARY KEY CLUSTERED 
(
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageName] [nvarchar](250) NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[ShortDesc] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[CatID] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Discount] [int] NULL,
	[Video] [nvarchar](255) NULL,
	[DateCreated] [datetime] NULL,
	[DateModified] [datetime] NULL,
	[BestSellers] [bit] NOT NULL,
	[HomeFlag] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[Tags] [nvarchar](max) NULL,
	[Title] [nvarchar](255) NULL,
	[Alias] [nvarchar](255) NULL,
	[MetaDesc] [nvarchar](255) NULL,
	[MetaKey] [nvarchar](255) NULL,
	[UnitsInStock] [int] NOT NULL,
	[Avatar] [nvarchar](255) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleClaims]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactStatus]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactStatus](
	[TransactStatusID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_TransactStatus] PRIMARY KEY CLUSTERED 
(
	[TransactStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserClaims]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[Avatar] [nvarchar](200) NULL,
	[BirthDay] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastLogin] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220830071007_Init', N'5.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220916070916_AddProductImage', N'5.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220928032015_AddProductAvatar', N'5.0.17')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CatID], [CatName], [Description], [ParentID], [Levels], [Ordering], [Published], [Thumb], [Title], [Alias], [MetaDesc], [MetaKey], [Cover], [SchemaMarkup]) VALUES (1, N'Rau củ ', NULL, NULL, NULL, NULL, 1, N'rau-cu.png', NULL, N'rau-cu', NULL, NULL, NULL, NULL)
INSERT [dbo].[Categories] ([CatID], [CatName], [Description], [ParentID], [Levels], [Ordering], [Published], [Thumb], [Title], [Alias], [MetaDesc], [MetaKey], [Cover], [SchemaMarkup]) VALUES (2, N'Đồ khô', NULL, NULL, NULL, NULL, 1, N'do-kho.png', NULL, N'do-kho', NULL, NULL, NULL, NULL)
INSERT [dbo].[Categories] ([CatID], [CatName], [Description], [ParentID], [Levels], [Ordering], [Published], [Thumb], [Title], [Alias], [MetaDesc], [MetaKey], [Cover], [SchemaMarkup]) VALUES (3, N'Thịt', NULL, NULL, NULL, NULL, 1, N'thit.png', NULL, N'thit', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [OrderNumber], [Amount], [Discount], [TotalMoney], [CreateDate], [Price]) VALUES (4, 4, 4, NULL, 1, NULL, CAST(10000 AS Decimal(18, 0)), CAST(N'2022-10-17T09:51:28.110' AS DateTime), CAST(38000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [OrderNumber], [Amount], [Discount], [TotalMoney], [CreateDate], [Price]) VALUES (8, 11, 12, NULL, 1, NULL, CAST(38999 AS Decimal(18, 0)), CAST(N'2022-10-18T08:52:53.663' AS DateTime), CAST(38999 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [OrderNumber], [Amount], [Discount], [TotalMoney], [CreateDate], [Price]) VALUES (9, 12, 12, NULL, 2, NULL, CAST(146996 AS Decimal(18, 0)), CAST(N'2022-10-18T08:54:32.890' AS DateTime), CAST(38999 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserId], [OrderDate], [ShipDate], [TransactStatusID], [Deleted], [Paid], [PaymentDate], [TotalMoney], [PaymentID], [Note], [Address], [Phone]) VALUES (4, N'fea75eec-47be-4e06-a9c7-3a1121a469b1', CAST(N'2022-10-17T09:46:43.880' AS DateTime), NULL, 1, 0, 0, NULL, CAST(10000 AS Decimal(18, 0)), NULL, NULL, N'122', N'123456')
INSERT [dbo].[Orders] ([OrderID], [UserId], [OrderDate], [ShipDate], [TransactStatusID], [Deleted], [Paid], [PaymentDate], [TotalMoney], [PaymentID], [Note], [Address], [Phone]) VALUES (5, N'fea75eec-47be-4e06-a9c7-3a1121a469b1', CAST(N'2022-10-17T09:47:32.117' AS DateTime), NULL, 1, 0, 0, NULL, CAST(38999 AS Decimal(18, 0)), NULL, NULL, N'122 Vinh Tuy', N'123456')
INSERT [dbo].[Orders] ([OrderID], [UserId], [OrderDate], [ShipDate], [TransactStatusID], [Deleted], [Paid], [PaymentDate], [TotalMoney], [PaymentID], [Note], [Address], [Phone]) VALUES (6, N'fea75eec-47be-4e06-a9c7-3a1121a469b1', CAST(N'2022-10-18T04:11:14.970' AS DateTime), NULL, 1, 0, 0, NULL, CAST(38999 AS Decimal(18, 0)), NULL, NULL, N'122 Vinh Tuy', N'123456')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageName]) VALUES (1002, 12, N'edea81a9-4080-4654-832c-e6b3ffca8c85.jpeg')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageName]) VALUES (2002, 8, N'22c39376-6c61-4c75-9968-23844300ad52.jpeg')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageName]) VALUES (2003, 8, N'ae7499dd-9d30-458f-b739-f110bf6806b7.jpg')
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [ShortDesc], [Description], [CatID], [Price], [Discount], [Video], [DateCreated], [DateModified], [BestSellers], [HomeFlag], [Active], [Tags], [Title], [Alias], [MetaDesc], [MetaKey], [UnitsInStock], [Avatar]) VALUES (1, N'Chanh dây', N'Chanh dây mô tả ngắn', N'Chanh dây mô tả dài', 1, CAST(30999 AS Decimal(18, 0)), NULL, NULL, CAST(N'2022-09-14T08:25:38.130' AS DateTime), CAST(N'2022-09-28T06:11:15.177' AS DateTime), 1, 1, 1, NULL, N'Tiêu đề chanh dây', N'chanh-day', NULL, NULL, 60, N'82316402-de37-4520-b213-bcb32916365c.jpeg')
INSERT [dbo].[Products] ([ProductID], [ProductName], [ShortDesc], [Description], [CatID], [Price], [Discount], [Video], [DateCreated], [DateModified], [BestSellers], [HomeFlag], [Active], [Tags], [Title], [Alias], [MetaDesc], [MetaKey], [UnitsInStock], [Avatar]) VALUES (2, N'Bí đỏ', N'Bí đỏ mô tả ngắn', N'Bí đỏ mô tả dài', 1, CAST(30999 AS Decimal(18, 0)), NULL, NULL, CAST(N'2022-09-14T08:26:51.390' AS DateTime), CAST(N'2022-09-28T06:11:32.073' AS DateTime), 1, 1, 1, NULL, N'Tiêu đề Bí đỏ', N'bi-do', NULL, NULL, 100, N'358ab749-79b0-4b4f-bc76-0b63f28cb6dd.jpg')
INSERT [dbo].[Products] ([ProductID], [ProductName], [ShortDesc], [Description], [CatID], [Price], [Discount], [Video], [DateCreated], [DateModified], [BestSellers], [HomeFlag], [Active], [Tags], [Title], [Alias], [MetaDesc], [MetaKey], [UnitsInStock], [Avatar]) VALUES (4, N'Cải thảo', N'Cải thảo mô tả ngắn', N'Cải thảo mô tả dài', 2, CAST(31999 AS Decimal(18, 0)), NULL, NULL, CAST(N'2022-09-14T08:28:24.657' AS DateTime), CAST(N'2022-09-28T06:08:17.480' AS DateTime), 0, 1, 1, NULL, N'Tiêu đề Cải thảo', N'cai-thao', NULL, NULL, 100, N'734b0a39-2993-40a7-bde4-16a78a6d1c4f.jpeg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[Roles] ([Id], [Description], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'0570ff48-8857-4707-8d39-6920fa4b6808', N'Quản trị viên', N'Admin', N'ADMIN', N'27c6d5d9-9603-4066-b499-67a96be2d90c')
INSERT [dbo].[Roles] ([Id], [Description], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'67bef010-26c8-4f8b-8c60-52cc5ccfa202', N'Nhân viên', N'Member', N'MEMBER', N'5a38029b-90a8-4ea7-bbaa-8ff376b768bf')
GO
SET IDENTITY_INSERT [dbo].[TransactStatus] ON 

INSERT [dbo].[TransactStatus] ([TransactStatusID], [Status], [Description]) VALUES (1, N'Chờ lấy hàng', N'Đã xác nhận và đang soạn hàng')
INSERT [dbo].[TransactStatus] ([TransactStatusID], [Status], [Description]) VALUES (2, N'Chờ xác nhận', N'Đang được người bán xác nhận với người mua')
INSERT [dbo].[TransactStatus] ([TransactStatusID], [Status], [Description]) VALUES (3, N'Đang giao', N'Đơn hàng đang được giao tới người mua')
SET IDENTITY_INSERT [dbo].[TransactStatus] OFF
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'fea75eec-47be-4e06-a9c7-3a1121a469b1', N'0570ff48-8857-4707-8d39-6920fa4b6808')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'0265108c-2f34-4c4b-8c91-01ac346ceb22', N'67bef010-26c8-4f8b-8c60-52cc5ccfa202')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'144ecb6c-35a4-4693-90ec-99bf8a4339fc', N'67bef010-26c8-4f8b-8c60-52cc5ccfa202')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categories_CatName]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Categories_CatName] ON [dbo].[Categories]
(
	[CatName] ASC
)
WHERE ([CatName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_News_UserId]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_News_UserId] ON [dbo].[News]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderID]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderID] ON [dbo].[OrderDetails]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_ProductID]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ProductID] ON [dbo].[OrderDetails]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_TransactStatusID]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_TransactStatusID] ON [dbo].[Orders]
(
	[TransactStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pages_UserId]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Pages_UserId] ON [dbo].[Pages]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductImages_ProductId]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductImages_ProductId] ON [dbo].[ProductImages]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CatID]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CatID] ON [dbo].[Products]
(
	[CatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_ProductName]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Products_ProductName] ON [dbo].[Products]
(
	[ProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleClaims_RoleId]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleClaims_RoleId] ON [dbo].[RoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[Roles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserClaims_UserId]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserClaims_UserId] ON [dbo].[UserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserLogins_UserId]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserLogins_UserId] ON [dbo].[UserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[Users]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/2/2022 12:58:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[Users]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ((1)) FOR [isHot]
GO
ALTER TABLE [dbo].[News] ADD  DEFAULT ((1)) FOR [isNewFeed]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT ((1)) FOR [Published]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [UnitsInStock]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Users_UserId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Order__45F365D3] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__Order__45F365D3]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Produ__46E78A0C] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__Produ__46E78A0C]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__Transact__4222D4EF] FOREIGN KEY([TransactStatusID])
REFERENCES [dbo].[TransactStatus] ([TransactStatusID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__Transact__4222D4EF]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[Pages]  WITH CHECK ADD  CONSTRAINT [FK_Pages_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Pages] CHECK CONSTRAINT [FK_Pages_Users_UserId]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CatID])
REFERENCES [dbo].[Categories] ([CatID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[RoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_RoleClaims_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleClaims] CHECK CONSTRAINT [FK_RoleClaims_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_UserClaims_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserClaims] CHECK CONSTRAINT [FK_UserClaims_Users_UserId]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_UserLogins_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users_UserId]
GO
/****** Object:  StoredProcedure [dbo].[SP_Add_Category]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_Add_Category]
@catName NVARCHAR(250),
@alias NVARCHAR(250),
@thumb NVARCHAR(250)

AS
BEGIN
    INSERT dbo.Categories(
        CatName,
        Description,
        ParentID,
        Levels,
        Published,
        Thumb,
        Title,
        Alias,
        MetaDesc,
        MetaKey,
        Cover,
        SchemaMarkup
    )
    VALUES(
        @catName,
        Null,
        Null,
        Null,
        1,
        @thumb,
        Null,
        @alias,
        Null,
        Null,
        Null,
        null
    )
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Add_New]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Add_New]
    @title NVARCHAR(255),
    @contents NVARCHAR(MAX),
    @thumb NVARCHAR(255),
    @alias NVARCHAR(255),
    @userId NVARCHAR(450),
    @isNewFeed BIT
AS
BEGIN
    INSERT News
    (
        Title,
        SContents,
        Contents,
        Thumb,
        Published,
        Alias,
        CreatedDate,
        UserId,
        Tags,
        isHot,
        isNewFeed,
        MetaKey,
        MetaDesc,
        Views
    )
    VALUES
    (
        @title,
        null,
        @contents,
        @thumb,
        1,
        @alias,
        GETDATE(),
        @userId,
        null,
        1,
        @isNewFeed,
        Null,
        null,
        null
    )
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Add_OrderDetail]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Add_OrderDetail]
    @orderId INT,
    @productId int,
    @amount INT,
    @totalMoney DECIMAL,
    @price DECIMAL
AS
BEGIN
    INSERT OrderDetails(
        OrderID,
        ProductID,
        OrderNumber,
        Amount,
        Discount,
        TotalMoney,
        CreateDate,
        Price
    )
    VALUES(
        @orderId,
        @productId,
        null,
        @amount,
        null,
        @totalMoney,
        GETDATE(),
        @price
    )
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Add_Product]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Add_Product]
    @productName NVARCHAR(255),
    @shortDesc NVARCHAR(255),
    @description NVARCHAR(MAX),
    @catID INT,
    @price Decimal,
    @discount INT,
    @dateCreated DATETIME,
    @bestSeller BIT,
    @homeFlag BIT,
    @title NVARCHAR(255),
    @alias NVARCHAR(255),
    @unitsInStock INT,
    @avatar NVARCHAR(255)
AS
BEGIN
    INSERT dbo.Products(
        ProductName,
        ShortDesc,
        Description,
        CatID,
        Price,
        Discount,
        Video,
        DateCreated,
        DateModified,
        BestSellers,
        HomeFlag,
        Active,
        Tags,
        Title,
        Alias,
        MetaDesc,
        MetaKey,
        UnitsInStock,
        Avatar
    )
    VALUES(
        @productName,
        @shortDesc,
        @description,
        @catID,
        @price,
        @discount,
        Null,
        GETDATE(),
        Null,
        @bestSeller,
        @homeFlag,
        1,
        Null,
        @title,
        @alias,
        Null,
        Null,
        @unitsInStock,
        @avatar
    )
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Count_Product]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Count_Product]
@count INT OUT
AS
BEGIN
    SELECT @count = COUNT(*)
    FROM 
    Products AS p,
    Categories AS c
    WHERE p.CatID = c.CatID
    SELECT @count
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_Category]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Delete_Category]
    @catId INT
AS
BEGIN
    Delete Categories WHERE CatID = @catId
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_New]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Delete_New]
    @postId INT
AS
BEGIN
    Delete News WHERE PostID = @postId
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_Product]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Delete_Product]
    @productId INT
AS
BEGIN
    Delete Products WHERE ProductID = @productId
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_ProductImage]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Delete_ProductImage]
    @Id INT
AS
BEGIN
    DELETE ProductImages WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FindProduct]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FindProduct]
@pageIndex INT, --0
@pageSize INT, --10
@search NVARCHAR(250) = NULL,
@catId INT = NULL,
@sortPrice NVARCHAR(250) = NULL
AS
BEGIN
IF @sortPrice = N'DOWN'
SELECT * FROM
    (SELECT 
    p. *,
    c.CatName ,
    ROW_NUMBER() OVER (ORDER BY p.Price) AS rc
    FROM 
    Products AS p,
    Categories AS c
    WHERE p.CatID = c.CatID 
    AND p.ProductName LIKE ISNULL('%' +@search + '%',p.ProductName)
    AND c.CatID Like ISNULL(@catId,c.CatID)
    ) AS a
WHERE  a.rc > (@pageSize * @pageIndex) AND a.rc <= @pageSize * (@pageIndex +1)

ELSE 
    SELECT * FROM
    (SELECT 
    p. *,
    c.CatName ,
    ROW_NUMBER() OVER (ORDER BY p.Price DESC) AS rc
    FROM 
    Products AS p,
    Categories AS c
    WHERE p.CatID = c.CatID 
    AND p.ProductName LIKE ISNULL('%' +@search + '%',p.ProductName)
    AND c.CatID Like ISNULL(@catId,c.CatID)
    ) AS a
WHERE  a.rc > (@pageSize * @pageIndex) AND a.rc <= @pageSize * (@pageIndex +1)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Category_By_Id]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Get_Category_By_Id]
    @categoryId INT = NULL
AS
    SELECT *
    FROM Categories
    WHERE CatID = ISNULL(@categoryId,CatID)

GO
/****** Object:  StoredProcedure [dbo].[SP_Get_List_OrderDetail]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Get_List_OrderDetail]
    @orderId INT
AS
SELECT od.OrderDetailID,od.Amount,od.Price,od.TotalMoney,p.ProductName
FROM OrderDetails as od  JOIN Products as p ON od.ProductID = p.ProductID
                         JOIN Orders as o ON od.OrderID = o.OrderID
                        WHERE od.OrderID = @orderId


GO
/****** Object:  StoredProcedure [dbo].[SP_Get_New]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Get_New]
    @postId INT = NULL,
    @isNewFeed BIT = null
AS
SELECT n.PostID,n.Title,n.Contents,n.Thumb,n.Alias,n.CreatedDate,n.UserId,n.isHot,n.isNewFeed,u.UserName
FROM News as n JOIN Users as u ON n.UserId = u.Id
WHERE 
    PostID = ISNULL(@postId,PostID)
    AND isNewFeed = ISNULL(@isNewFeed,isNewFeed)

GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Order]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Get_Order]
    @userId NVARCHAR(450),
    @orderId INT
AS
SELECT o.OrderID,o.OrderDate,o.ShipDate,o.TotalMoney,o.Paid,o.Deleted,t.[Status],t.TransactStatusID,u.UserName,u.Address,u.PhoneNumber
FROM Orders as o JOIN TransactStatus as t ON o.TransactStatusID = t.TransactStatusID
                JOIN Users as u ON o.UserId = u.Id
    WHERE UserId = @userId AND OrderID = @orderId

GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Order_By_Id]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Get_Order_By_Id]
    @orderId INT
AS
SELECT o.OrderID,o.OrderDate,o.ShipDate,o.TotalMoney,o.Paid,o.Deleted,t.[Status],t.TransactStatusID,u.UserName,u.Address,u.PhoneNumber
FROM Orders as o JOIN TransactStatus as t ON o.TransactStatusID = t.TransactStatusID
                 JOIN Users as u ON o.UserId = u.Id
WHERE o.OrderID = @orderId

GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Order_By_User]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Get_Order_By_User]
    @userId NVARCHAR(450) = NULL
AS
SELECT o.OrderID,o.OrderDate,o.ShipDate,o.TotalMoney,o.Paid,o.Deleted,t.[Status],t.TransactStatusID,u.UserName,u.Address,u.PhoneNumber
FROM Orders as o JOIN TransactStatus as t ON o.TransactStatusID = t.TransactStatusID
                 JOIN Users as u ON o.UserId = u.Id
    WHERE UserId = ISNULL(@userId,UserId)
    ORDER BY OrderDate DESC

GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Product_By_Category]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Get_Product_By_Category]
as
BEGIN
    SELECT 
    c.CatID,
    c.CatName,
    p.*
FROM 
    Categories as c JOIN
    Products as p ON c.CatID = p.CatID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_Product_By_Id]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Get_Product_By_Id]
  @productId INT = NULL
AS
BEGIN
SELECT
    p. *,
    c.CatName,
    ROW_NUMBER() OVER (ORDER BY p.ProductName) AS rc
    FROM 
    Products AS p,
    Categories AS c
    WHERE p.CatID = c.CatID
    AND
    p.ProductID = ISNULL(@productId,p.ProductID)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Get_ProductImage]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Get_ProductImage]
 @productId INT
AS
BEGIN
    SELECT i.Id,i.ImageName
    FROM ProductImages as i JOIN Products as p ON i.ProductId = p.ProductID
    WHERE p.ProductID = @productId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_ProductImage_By_Id]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Get_ProductImage_By_Id]
    @id INT
AS
    SELECT *
    FROM ProductImages
    WHERE Id = @id
GO
/****** Object:  StoredProcedure [dbo].[SP_Get_TransacStatus]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Get_TransacStatus]
AS
SELECT *
FROM TransactStatus
GO
/****** Object:  StoredProcedure [dbo].[SP_Update_Category]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Update_Category]
    @catId INT,
    @catName NVARCHAR(250),
    @alias NVARCHAR(250),
    @thumb NVARCHAR(250)
AS
BEGIN
    UPDATE Categories
    SET
    CatName = @catName,
    Alias = @alias,
    Thumb = @thumb
    WHERE CatID = @catId
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Update_New]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Update_New]
    @postId INT,
    @title NVARCHAR(255),
    @content NVARCHAR(Max),
    @thumb NVARCHAR(255),
    @alias NVARCHAR(255),
    @isNewFeed BIT
AS
BEGIN
    UPDATE News
    SET
    Title = @title,
    Contents = @content,
    Thumb = @thumb,
    Alias = @alias,
    isNewFeed = @isNewFeed
    WHERE PostID = @postId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Update_Product]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Update_Product]
    @producId INT,
    @productName NVARCHAR(255),
    @shortDesc NVARCHAR(255),
    @description NVARCHAR(MAX),
    @catID INT,
    @price Decimal,
    @discount INT,
    @bestSeller BIT,
    @homeFlag BIT,
    @title NVARCHAR(255),
    @alias NVARCHAR(255),
    @unitsInStock INT,
    @avatar NVARCHAR(255)
AS
BEGIN
    UPDATE Products
    SET
    ProductName = @productName,
    ShortDesc = @shortDesc,
    [Description] = @description,
    CatID= @catID,
    Price = @price,
    Discount = @discount,
    DateModified = GETDATE(),
    BestSellers = @bestSeller,
    HomeFlag = @homeFlag,
    Title = @title,
    Alias = @alias,
    UnitsInStock = @unitsInStock,
    Avatar = @avatar
    WHERE ProductID = @producId
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UpLoad_ProductImage]    Script Date: 12/2/2022 12:58:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpLoad_ProductImage]
    @productId INT,
    @imageName NVARCHAR(250)
AS
BEGIN
    INSERT ProductImages(
        ProductId,
        ImageName
    )
    VALUES(
        @productId,
        @imageName
    )
END
GO
USE [master]
GO
