@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model SharedObjects.ViewModels.ChangePasswordViewModel


<div class="card-body">
    <h4>Đổi mật khẩu</h4>
    <div class="m-t-25" style="max-width: 700px">
        <form asp-controller="Account" asp-action="ChangePassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Mật khẩu hiện tại</label>
                    <input type="password" class="form-control" asp-for="PasswordNow">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Mật khẩu mới</label>
                    <input type="password" class="form-control" asp-for="Password">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputConfirmPassword4">Nhập lại mật khẩu mới</label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Xác nhận</button>
        </form>
    </div>

</div>