@{
    ViewData["Title"] = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model SharedObjects.ViewModels.ResetPasswordViewModel


<div class="card-body">
    <h4>Đặt lại mật khẩu</h4>
    <div class="m-t-25" style="max-width: 700px">
        <form asp-controller="Account" asp-action="ResetPassword" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" class="form-control" asp-for="token" value="@ViewBag.Token" />
            <input type="hidden" class="form-control" asp-for="UserId" value="@ViewBag.UserId" />

            <div class="form-group d-flex align-items-center">
                <div class="switch m-r-10">
                    <input type="checkbox" id="yourBox" asp-for=ByPass>
                    <label for="yourBox"></label>
                </div>
                <label>Đặt lại mật khẩu là "0123456"</label>
            </div>

            <div class="form-row" id="yourText1">
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Mật khẩu mới</label>
                    <input type="password" class="form-control" asp-for="Password">
                </div>
            </div>

            <div class="form-row" id="yourText2">
                <div class="form-group col-md-6">
                    <label for="inputConfirmPassword4">Nhập lại mật khẩu mới</label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Xác nhận</button>
            <a class="btn btn-warning" asp-action="Index">Quay lại</a>
        </form>

    </div>

</div>

<script>
    document.getElementById('yourBox').onchange = function () {
        document.getElementById('yourText1').hidden = this.checked;
        document.getElementById('yourText2').hidden = this.checked;
    };
</script>