@model SharedObjects.ValueObjects.VCategory
@{
    ViewData["Title"] = "Cập nhật danh mục sản phẩm";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-controller="Category" asp-action="Update" class="breadcrumb-item">Cập nhật danh mục</a>
        </nav>
    </div>
</div>

<div class="card-body">
    <div class="m-t-25" style="max-width: 700px">
        <form asp-controller="Category" asp-action="Update" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CatId" />

            <div class="page-header no-gutters has-tab">
                <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                    <div class="m-b-15">
                        <button class="btn btn-primary">
                            <i class="anticon anticon-plus-circle"></i>
                            <span>Cập nhật danh mục</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="font-weight-semibold" for="productName">Tên danh mục</label>
                    <input type="text" class="form-control" asp-for="CatName">
                </div>
            </div>

            <div class="row">
                <div class="form-group d-flex align-items-center">
                    <div class="checkbox">
                        <input asp-for="Published" type="checkbox" />
                        <label for="Published">Public</label>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAvatar4">Ảnh đại diện</label>
                    <input type="file" name="Thumb" class="form-control" asp-for="Thumb">
                </div>
            </div>
        </form>
    </div>
</div>

